<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>



  <div class="w3-display-container w3-text-white">
    <img src="https://wallpaperaccess.com/full/1117956.jpg" alt="Lights" style="width:100%">
     <div class="w3-padding-top-64 w3-display-topmiddle w3-xxlarge"><h1 th:text="${request}"></h1></div>

  </div>


</body>
</html>
